@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --background: #ffffff;
  --foreground: #171717;
}

.ProseMirror {
  font-family: inherit !important;
  color: inherit !important;
}


/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
  */

/*add font if needed*/
.cardDiv{
  /*
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  */
  --shadowOffset:2px;
  --margin: 5px;
  --borderRad:10px;
  --height:200px;
  --width: 200px;


  border: solid black 3px;
  color: #0a0a0a;
  padding: 20px;
  height: var(--height);
  width: var(--width);
  margin: var(--margin);
  border-radius: var(--borderRad);
  box-shadow: black var(--shadowOffset) var(--shadowOffset);
  transition-duration: 100ms;
}
.cardDiv:hover{
  --shadowOffset:5px;
  --margin:11px;
  --borderRad:5px;
  --height:190px;
  --width:190px;
}

.cardDiv > h2{
  font-weight: bolder;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
